In [1]:
import os 
root = os.getcwd()
root

'/content'

In [0]:
from fastai.collab import *
from fastai.tabular import *

In [0]:
user,item,title = 'userId','movieId','title'

In [5]:
path = untar_data(URLs.ML_SAMPLE, dest=root)
path

Downloading http://files.fast.ai/data/examples/movie_lens_sample.tgz

PosixPath('/content/movie_lens_sample')

In [6]:
ratings = pd.read_csv(path/'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [0]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [0]:
y_range = [0,5.5]

In [0]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [10]:
learn.fit_one_cycle(5, 5e-3)

In [11]:
learn.fit_one_cycle(5, 5e-3)